<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BKrafts</title>

    <!-- IMPORTED STYLESHEETS -->


    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Materialize Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="navbar-fixed">
    <nav class = "white" >
        <div class="container nav-wrapper">
            <a href="#" class="brand-logo center black-text hide-on-med-and-down"><i class="fab fa-lg fa-pagelines"></i>BKrafts</a>
            <a href="#" class="brand-logo left black-text hide-on-large-only hide-on-small-only"><i class="fab fa-lg fa-pagelines"></i>BKrafts</a>
            <a href="#" class="brand-logo left black-text hide-on-med-and-up"><i  style = "padding-top:12px;" class="fab fa-lg fa-pagelines"></i></a>
            <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons icon-black">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a class = "black-text" href="">HOME</a></li>
                <li><a class = "black-text" href="">PRICING</a></li>
                <li><a class = "black-text" href="">GALLERY</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                {{{body}}}
            </ul>
        </div>
    </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li style = "padding-top:20px" ><a href="">Home</a></li>
        <li ><a href="">Options</a></li>
        <li ><a href="">Gallery</a></li>
        <li ><a href="/auth/google">Login/Signup</a></li>
    </ul>

    <div class="hero-image hide-on-small-only">
    <div class= "hero-text">
        <h1>Welcome to BKrafts</h1>
        <p>Custom scroll saw and woodcut art</p>
        <a href = "/auth/google" class = "waves-effect green darken-1 btn">
            Make An Order
        </a>
    </div>
    </div>
    <!-- For Mobile -->
    <div class="hide-on-med-and-up show-on-small-only hero-image-mobile">
     <div class="hero-text-mobile">
        <h1>BKrafts</h1>
        <p>Custom scroll saw and woodcut art</p>
        <a href = "/auth/google" class = "waves-effect green darken-1 btn">
            Make An Order
        </a>
    </div>
    </div>

<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>




</body>

    <!-- IMPORTED SCRIPTS -->
    
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {edge: 'right'});
    });
    </script>

</html>